<p style="color: green"><%= notice %></p>

<%= render @incident %>

<div>
  <%= link_to "Edit this incident", edit_incident_path(@incident) %> |
  <%= link_to "Back to incidents", incidents_path %>

  <%= button_to "Destroy this incident", @incident, method: :delete %>
</div>
