<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Webhawk App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css", media: "all" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js" %>


  </head>




  <body>

  <h1>Webhawk 3.0</h1>

  <div class="ui menu">


  <a class="item" href='/incidents'><i class="bug icon"></i>Incidents</a>

  <div class="right menu">
    <% if user_signed_in? %>
    <a class="item"><i class="user circle icon"></i><%= current_user.email %></a>



  <%= link_to 'logout', destroy_user_session_path, method: :delete, class: 'item' %>
    <%else %>
     <%= link_to 'Sign up', new_user_registration_path, class: 'item' %>
  <%= link_to 'Login', new_user_session_path, class: 'item' %>
  <% end %>
    <a class="item">About</a>
  </div>
</div>



  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

       <!--
       <% if user_signed_in? %>
  Logged in as <%= current_user.email %> |
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path %> |
  <%= link_to 'Login', new_user_session_path %>
<% end %>
-->

    <%= yield %>
  </body>
</html>
